body {
  font-family: "Poppins", sans-serif;
  padding: 5px;
}
html {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
section {
  margin-top: 30px;
}
.navLogo {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1230px;
  margin: 0 auto;
}
.nav-container {
  margin-top: 67px;
  margin-bottom: 60px;
}
.manubar {
  display: flex;
}
.manubar li a {
  margin-right: 34px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* banner part */
.banner {
  max-width: 1230px;
  margin: 0 auto;
}
.left-banner-container {
  width: 50%;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-heading {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.left-desc {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
.btn-primary {
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 38px;
  background: #e02c6d;
  border: none;
  outline: none;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  margin-top: 26px;
}
.right-banner-container {
  background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  position: relative;
}
.right-img {
  width: 80%;
  padding: 20px;
}
right-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* logos part */
.logos {
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 5rem;
  /* margin-top: 6rem;
  height: 20vh; */
}
.logos-container {
  display: flex;
  justify-content: space-evenly;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
    135deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  /* border-left: 0;
  border-right: 0; */
  border-image-slice: 1;
  padding: 23px 0;
}
/* popular-heading part */
.popular-collection {
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 3rem;
}
.popular-heading {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}
.popular-row {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  width: 330px;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card-img {
  width: 100%;
  border-radius: 5px;
}
.card-heading {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 10px;
}
.price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 150%;
}
.card-desc {
  color: #787885;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.fa-solid {
  color: #fb8200;
}
.see-you {
  margin-right: 60px;
  padding: 20px;
}

.see-more {
  text-align: right;
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-weight: 700;
}
/* featured section part */
.featured-row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1230px;
  gap: 80px;
}
.left-featured-img {
  width: 100%;
}
.right-featured-heading {
  color: #0a0826;
  font-family: Poppins;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.right-featured-row {
  width: 60%;
}
.left-featured-row {
  width: 40%;
}
.right-featured-desc {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 10px;
}
.join-btn {
  margin-top: 10px;
  padding: 12px 27px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background: #e02c6d;
}

/* responsive part */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
  }
  .manubar li a {
    margin-right: 10px;
  }
  .manubar {
    margin-top: 15px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .right-banner-container {
    width: 100%;
  }
  .left-banner-container {
    width: 100%;
    padding: 10px;
  }
  .left-heading {
    font-size: 35px;
    line-height: 40px;
  }
  .right-img {
    width: 100%;
  }
  .logos-container {
    flex-direction: column;
    gap: 20px;
  }
  .logos-container img {
    width: 30%;
    margin: 0 auto;
  }
  .popular-row {
    grid-template-columns: 1fr;
  }
  .card {
    margin: 0 auto;
  }
  .featured-row {
    flex-direction: column;
    padding: 10px;
  }
  .left-featured-row {
    width: 100%;
  }
  .right-featured-row {
    width: 100%;
  }
}
